.about-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.coffee-tree-image {
  display: flex;
  background-color: whitesmoke;
  object-fit: cover;
  border-radius: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 250px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.coffee-tree-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 50px;
}

.What-is-Coffee {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 50px 20px 50px;
  padding: 10px 200px;
}

.What-is-Coffee h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: white;
  background-color: #6f4e37;
  padding: 20px;
  border-radius: 50px;
  margin: 10px 250px 30px 250px;
}

.What-is-Coffee p {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 500;
}

.Why-Coffee-Matters {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  margin: 20px 200px 20px 200px;
  padding: 30px;
}

.Why-Coffee-Matters h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 42px;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.Why-Coffee-Matters ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px auto;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  width: fit-content;
}

.Why-Coffee-Matters ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.Coffees-Role-in-the-World {
   display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  margin: 20px 200px 20px 200px;
  padding: 30px;
}

.Coffees-Role-in-the-World h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: black;
  padding: 20px;
  border-radius: 50px;
  margin: 10px 250px 30px 250px;
}

.Coffees-Role-in-the-World h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}

.Coffees-Role-in-the-World ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px auto;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  width: fit-content;
}

.Coffees-Role-in-the-World ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.Coffees-Role-in-the-World h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}

.What-Makes-Coffee-Unique {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  margin: 20px 200px 20px 200px;
  padding: 30px;
}

.What-Makes-Coffee-Unique h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: black;
  padding: 20px;
  border-radius: 50px;
  margin: 10px 250px 30px 250px;
}

.What-Makes-Coffee-Unique h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}

.What-Makes-Coffee-Unique ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px auto;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  width: fit-content;
}

.What-Makes-Coffee-Unique ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.Coffee-and-Community {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  margin: 20px 200px 20px 200px;
  padding: 30px;
}

.Coffee-and-Community h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  padding: 20px;
  border-radius: 50px;
  margin: 10px 250px 30px 250px;
}

.Coffee-and-Community h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
}

.Coffee-and-Community ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px auto;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  width: fit-content;
}   

.Coffee-and-Community ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.Fascinating-Facts-About-Coffee {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  margin: 20px 200px 20px 200px;
  padding: 30px;
}

.Fascinating-Facts-About-Coffee h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: black;
  padding: 20px;
  border-radius: 50px;
  margin: 10px 250px 30px 250px;
}

.Fascinating-Facts-About-Coffee ul {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px auto;
  padding: 25px;
  border-radius: 20px;
  text-align: left;
  width: fit-content;
}

.Fascinating-Facts-About-Coffee ul li {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: black;
  font-weight: 500;
}

.Our-Passion-for-Coffee {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  text-align: center;
  margin: 20px 200px 20px 200px;
  padding: 30px;
}

.Our-Passion-for-Coffee h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: black;
  padding: 20px;
  border-radius: 50px;
  margin: 10px 250px 30px 250px;
}

.Our-Passion-for-Coffee p {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 767px) {

  .coffee-tree-image {
  padding: 10px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.coffee-tree-image img {
  width: 90%;
  height: 80%;
}

.What-is-Coffee {
  margin: 5px 10px 20px 10px;
  padding: 10px 20px;
}

.What-is-Coffee h1 {
  font-size: 30px;
  padding: 10px 5px 10px 10px;
  border-radius: 50px;
  margin: 10px 20px 30px 20px;
}

.What-is-Coffee p {
  font-size: 24px;
}

.Why-Coffee-Matters {
  margin: 20px 20px 20px 20px;
  padding: 20px;
}

.Why-Coffee-Matters h1 {
  font-size: 35px;
}

.Coffees-Role-in-the-World {
   margin: 20px 20px 20px 20px;
  padding: 20px;
}

.Coffees-Role-in-the-World h1 {
  font-size: 35px;
  padding: 10px;
  margin: 10px 50px 20px 50px;
}

.Coffees-Role-in-the-World h3 {
  
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}

.Coffees-Role-in-the-World h4 {
  font-size: 24px;
  color: black;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 20px;
}

.What-Makes-Coffee-Unique {
  margin: 20px 20px 20px 20px;
  padding: 20px;
}

.What-Makes-Coffee-Unique h1 {
  font-size: 32px;
  padding: 10px;
  margin: 10px 50px 20px 50px;
}

.What-Makes-Coffee-Unique h3 {
  font-size: 24px;
  margin-top: 10px;
}

.Coffee-and-Community {
   margin: 20px 20px 20px 20px;
  padding: 20px;
}

.Coffee-and-Community h1 {
  font-size: 32px;
  padding: 10px;
  margin: 10px 50px 20px 50px;
}

.Coffee-and-Community h3 {
  font-size: 24px;
  margin-top: 10px;
}

.Fascinating-Facts-About-Coffee {
   margin: 20px 20px 20px 20px;
  padding: 20px;
}

.Fascinating-Facts-About-Coffee h1 {
  font-size: 32px;
  padding: 10px;
  margin: 10px 50px 0px 50px;
}

.Our-Passion-for-Coffee {
   margin: 20px 20px 20px 20px;
  padding: 20px;
}

.Our-Passion-for-Coffee h1 {
  font-size: 32px;
  padding: 10px;
  margin: 10px 50px 10px 50px;
}

.Our-Passion-for-Coffee p {
  font-size: 24px;
}


}
