.brewing-methods-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.brewing-first-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 180px 20px 180px;
  padding: 40px;
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brewing-first-section img {
  width: 65%;
  height: 50%;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 10px;
}

.brewing-first-section h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  padding: 20px;
}

.brewing-first-section h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 500;
}

.brewing-intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 180px 20px 180px;
  padding: 0px 40px 0px 40px;
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brewing-intro-section img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 50px;
}

.brewing-intro-section p {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
  font-weight: 500;
  text-align: left;
}

.methods-section {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px;
  margin: 20px 180px 20px 180px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shared-methods-styles {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.shared-methods-styles h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 38px;
  color: white;
  background-color: #6f4e37;
  padding: 15px;
  border-radius: 50px;
  margin: 10px 120px 20px 120px;
  text-align: center;
}

.shared-methods-styles img {
  width: 85%;
  height: 50%;
  object-fit: cover;
  border-radius: 50px;
  margin: 0px auto 20px auto;
}

.shared-methods-styles h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #6f4e37;
  margin-top: 10px;
  margin-left: 30px;
}

.shared-methods-styles ul {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: black;
  font-weight: 500;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shared-methods-styles ul li {
  margin-bottom: 10px;
}

.shared-methods-styles ol {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: black;
  font-weight: 500;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shared-methods-styles ol li {
  margin-bottom: 10px;
}

.shared-methods-styles p {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: black;
  font-weight: 500;
  text-align: left;
  margin: 0px 50px 20px 50px;
}

.esspresso-method img {
    width: 85%;
    height: 580px;
}

.aeroPress-method img {
    width: 50%;
    height: 650px;
}

.coldBrew-method img {
    width: 50%;
    height: 580px;
}

.mokaPot-method img {
    width: 55%;
    height: 580px;
}

.comparison-table-section {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 50px;
    margin: 20px 180px 50px 180px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comparison-table-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.comparison-table-section th, .comparison-table-section td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.comparison-table-section th {
  background-color: #6f4e37;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}

.comparison-table-section td {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.comparison-table-section tr:hover {
  background-color: #ddd;
}

.explore-beans-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 180px 50px 180px;
  padding: 40px;
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.explore-beans-section img {
  width: 70%;
  height: 50%;
  object-fit: cover;
  border-radius: 50px;
  margin-bottom: 10px;
}

.explore-beans-section p {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: black;
  font-weight: 500;
  margin-top: 20px;
}   

@media screen and (max-width: 768px) {

 .brewing-first-section {
  margin: 10px 50px 10px 50px;
  padding: 20px;
}

.brewing-first-section img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.brewing-first-section h1 {
  font-size: 30px;
  padding: 15px 0px 15px 0px ;
}

.brewing-first-section h4 {
  font-size: 22px;
}
    
.brewing-intro-section {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 10px 50px;
  padding: 20px;
}

.brewing-intro-section img {
  width: 85%;
  height: auto;
}

.brewing-intro-section p {
  font-size: 21px;
  text-align: center;
}

.methods-section {
  margin: 30px 50px 20px 50px;
  padding: 20px;
}

.shared-methods-styles h1 {
  font-size: 24px;
  padding: 15px;
  margin: 20px;
}

.shared-methods-styles img {
  width: 100%;
  height: auto;
}

.shared-methods-styles h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 5px;
}

.shared-methods-styles ul {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shared-methods-styles ol {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shared-methods-styles p {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}

.esspresso-method img {
    width: 100%;
    height: auto;
}

.aeroPress-method img {
    width: 100%;
    height: auto;
}

.coldBrew-method img {
    width: 100%;
    height: auto;
}

.mokaPot-method img {
    width: 100%;
    height: auto;
}

.comparison-table-section {
    margin: 20px 50px 50px 50px;
    padding: 20px;
    overflow-x: auto;
}

.comparison-table-section th, .comparison-table-section td {
  padding: 8px;
}

.comparison-table-section th {
  font-size: 20px;
}

.comparison-table-section td {
  font-size: 17px;
}

.explore-beans-section {
  margin: 20px 50px 20px 50px;
  padding: 20px;
}

.explore-beans-section img {
  width: 100%;
  height: auto;
}

.explore-beans-section p {
  font-size: 20px;
}   
    
}

@media (min-width: 769px) and (max-width: 1024px) {
  .brewing-first-section {
  margin: 10px 50px 10px 50px;
  padding: 30px;
}

.brewing-first-section img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.brewing-first-section h1 {
  font-size: 32px;
  padding: 15px 0px 15px 0px ;
}

.brewing-first-section h4 {
  font-size: 24px;
}
    
.brewing-intro-section {
  display: flex;
  flex-direction: column;
  margin: 30px 50px 10px 50px;
  padding: 20px;
}

.brewing-intro-section img {
  width: 50%;
  height: 400px;
}

.brewing-intro-section p {
  font-size: 24px;
  text-align: center;
}

.methods-section {
  margin: 30px 50px 20px 50px;
  padding: 30px;
}

.shared-methods-styles h1 {
  font-size: 28px;
  padding: 20px;
  margin: 10px 120px 20px 120px;
}

.shared-methods-styles img {
  width: 100%;
  height: auto;
}

.shared-methods-styles h3 {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

.shared-methods-styles ul {
  font-size: 24px;
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shared-methods-styles ol {
  font-size: 24px;
  margin-left: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.shared-methods-styles p {
  font-size: 24px;
  margin: 0px 0px 20px 0px;
}

.esspresso-method img {
    width: 100%;
    height: auto;
}

.aeroPress-method img {
    width: 75%;
    height: 550px;
}

.coldBrew-method img {
    width: 75%;
    height: 550px;
}

.mokaPot-method img {
    width: 80%;
    height: auto;
}

.comparison-table-section {
    margin: 20px 50px 50px 50px;
    padding: 30px;
    overflow-x: auto;
}

.comparison-table-section th, .comparison-table-section td {
  padding: 8px;
}

.comparison-table-section th {
  font-size: 24px;
}

.comparison-table-section td {
  font-size: 20px;
}

.explore-beans-section {
  margin: 20px 50px 20px 50px;
  padding: 30px;
}

.explore-beans-section img {
  width: 80%;
  height: auto;
}

.explore-beans-section p {
  font-size: 24px;
} 
}